/* .header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
} */

/* .nav-items > ul {
    list-style-type: none;
    display: flex;
} */

/* .nav-items > ul > li {
    padding: 10px;
} */

.logo {
	width: 100px;
	margin-left: 10px;
	height: 60px;
  }
  
  .card {
	width: 200px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
  }
  
  .card > img {
	width: 100%;
  }
  
  img.card-img-top {
	border-radius: 20px;
  }
  
  .restaurant-list {
	display: flex;
	flex-wrap: wrap;
  }
  
  .input-group {
	width: 30% !important;
	margin: 10px;
  }
  
  .form-control {
	width: 30% !important;
  }
  
  .shimmer-card {
	width: 200px;
	height: 200px;
	background: lightgrey;
	margin: 35px;
  }
  
  .menu {
	display: flex;
  }
  
  .normal-text {
	color: black;
	text-decoration: none;
  }
  
  .restro {
	margin-right: auto;
	margin-left: auto;
	width: 40rem !important;
	padding: 10px;
  }
  
  .restro.card {
	border-radius: 20px;
  }
  
  .card {
	border-radius: 20px !important;
  }
  
  .restroBanner.card {
	width: 100% !important;
	height: 245px !important;
	margin: 0px;
	background-color: black;
	color: white;
	border-radius: 0px !important;
  }
  
  .restroImage {
	width: auto !important;
  }
  
  .restroImage {
	height: 220px !important;
  }
  
  /* .card {
	  width: 200px;
	  border: 1px solid black;
	  padding: 10px;
	  margin: 10px;
	  border-radius: 20px;
  } */
  
  .carousels-list {
	display: flex;
	/* flex-wrap: wrap; */
	/* margin: 20px; */
  }
  
  .wrapper {
	transition: all 0.5s !important;
  }
  .wrapper:hover {
	transform: scale(1.1) !important	;
  }
  
  .carousels-list {
	/* background: black !important; */
	overflow: scroll;
	/* margin:50px !important; */
  }
  
  .small-text {
	font-size: 13px;
	color: #a19a9a;
  }
  
  .star {
	position: relative;
  
	display: inline-block;
	width: 0;
	height: 0;
  
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
  
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid white;
	border-left: 0.3em solid transparent;
  
	/* Controlls the size of the stars. */
	font-size: 6px;
  
	&:before,
	&:after {
	  content: "";
  
	  display: block;
	  width: 0;
	  height: 0;
  
	  position: absolute;
	  top: 0.6em;
	  left: -1em;
  
	  border-right: 1em solid transparent;
	  border-bottom: 0.7em solid white;
	  border-left: 1em solid transparent;
  
	  transform: rotate(-35deg);
	}
  
	&:after {
	  transform: rotate(35deg);
	}
  }
  
  .star-bg-positive {
	background: green;
	color: white;
	font-size: 12px;
  }
  
  .star-bg-negative {
	background: #db7c38;
	color: white;
	font-size: 12px;
  }
  
  .restaurant-name {
	font-size: 17px !important;
  }

//   .carousels-list.d-flex.justify-content-center{
// 	background: black;
//   }

 .a.btnGoHome.btn.btn-primary {
	background: #fc8019 !important;
	border: #fc8019 !important
 }
  