/* .header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
} */

/* .nav-items > ul {
    list-style-type: none;
    display: flex;
} */

/* .nav-items > ul > li {
    padding: 10px;
} */

.logo {
    width: 100px;
    margin-left: 10px;
    height: 60px;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card >img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

/* .search-input{
    margin: 10px;
} */

.input-group {
    width: 30% !important;
    margin: 10px;
}
  
.form-control {
    width: 30% !important;
}

.shimmer-card {
    width: 200px;
    height: 200px;
    background: lightgrey;
    margin: 35px;
}

.menu {
    display: flex;
}

.normal-text {
    color: black;
    text-decoration: none;
  }

 .restro{
    margin-right: auto;
    margin-left: auto;
    width: 40rem !important;
    padding: 10px;
 } 